@import '~bootstrap/scss/bootstrap';
button {
    margin: 0;
    padding: 0;
    border: 2;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    background-color: rgb(191, 201, 191);
}
#change {
    display: none;
    
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
#signup {
    display: none;
}
#signin {
    display: none;
}
.tab-three {
    display: none;
}
.tab-four {
    display: none;
}
#front-page {
    display: none;
}