@import '~bootstrap/scss/bootstrap';
body {
    background-color: mintcream;
}
.flex-container {
    text-align: center;
    display: flex;
    justify-content: center;
}
#change {
    display: none;
    
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    color: #c2fbd7;
}
.tab button.active {
    background-color: #ccc;
}
#signup {
    display: none;
}
#signin {
    display: none;
}
.tab-three {
    display: none;
}
.tab-four {
    display: none;
}
#app-display {
    display: none;
}
#front-page {
    display: none;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik',
    sans-serif;
}
#show-account {
position: relative;
border-radius: 10px;
display: flex;
justify-content: center;
margin-left:auto;
margin-right:auto;
align-items: center;
}
#index {
    position: relative;
    // width: 350px;
    // height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    // background-color: lightblue;
    // padding-top: 50px;
    // padding-right: 50px;
    // padding-bottom: 50px;
    // padding-left: 50px
}
#update {
    position: relative;
    width: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    
}
#delete-account {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.button-display {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.text-display {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: 'Rubik',
    sans-serif;
}
#new-account {
    display: none;
}
#create-wholesale {
    display: none;
}
#view-account {
    display: none;
}
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
input {
    --uiFieldPlaceholderColor: #767676;

    background-color: whitesmoke;
    border: white;
    opacity: 55%;
   

    -webkit-appearance: none;
    -moz-appearance: none;
}
